{{#partial "content"}}
    <div class="contents">
      <div class="notice">
        <div class="title">
          <h2>NOTICE</h2>
        </div>
        <table width="100%">
          <caption>공지사항</caption>
          <colgroup>
            <col width="70px">
            <col width="135px">
            <col width="auto">
            <col width="100px">
            <col width="100px">
          </colgroup>
          <thead>
            <tr>
              <th>NO</th>
              <th>CATEGORY</th>
              <th>SUBJECT</th>
              <th>WRITER</th>
              <th>DATE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>공지사항</td>
              <td class="left"><a href="">공지사항 입니다.</a></td>
              <td>javakong</td>
              <td>20101108</td>
            </tr>
            <tr>
              <td>2</td>
              <td>공지사항</td>
              <td class="left">공지사항입니다.</td>
              <td>javakong</td>
              <td>20101109</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
{{/partial}}

{{> base}}
