{{#partial "content"}}
    <div class="contents">
      <div class="review">
        <div class="title">
          <h2>REVIEW</h2>
        </div>
        <table width="100%">
          <caption>review</caption>
          <colgroup>
            <col width="70px">
            <col width="135px">
            <col width="auto">
            <col width="100px">
            <col width="100px">
          </colgroup>
          <thead>
            <tr>
              <th>NO</th>
              <th>PRODUCT</th>
              <th>SUBJECT</th>
              <th>WRITER</th>
              <th>DATE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
{{/partial}}

{{> base}}
