<header>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">Dingo</a>

            <ul class="navbar-nav flex-row">
                {{^id}}
                <form action="/auth" method="get">
                    <button type="submit" class="btn btn-sm text-light">로그인</button>
                </form>
                {{/id}}
                {{#id}}
                <form action="/auth/logout" method="post">
                    <button type="submit" class="btn btn-sm text-light">로그아웃</button>
                </form>
                {{/id}}
                <form action="/users/new" method="get">
                    <button type="submit" class="btn btn-sm text-light">회원가입</button>
                </form>
            </ul>
        </div>
    </nav>

    <ul class="container nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/questions/new">질문하기</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/users">회원목록</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/">개인정보수정</a>
        </li>
    </ul>
</header>
