<!DOCTYPE html>
<html lang="kr">
{{> partial/header}}
<body>
{{> partial/navbar}}

<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            <form method="post" action="/questions/{{question.id}}/answers/{{answer.id}}">
                <input type="hidden" name="_method" value="put"/>
                <div class="form-group" style="padding:14px;">
                    <label for="contents">댓글 수정</label>
                    <textarea class="form-control" id="contents" name="contents"></textarea>
                </div>
                <button class="btn btn-success pull-right" onclick="submitAnswer()">수정하기</button>
            </form>
            <div class="clearfix" />
        </div>
    </div>
</div>
<!-- script references -->
{{> partial/script}}
</body>
</html>