<p class="question-comment-count"><strong>{{answersLength}}</strong>개의 의견</p>
<div class="question-comment-slipp-articles">

    {{#aliveAnswers}}
    <article class="article" id="answer-1405">
        <div class="article-header">
            <div class="article-header-thumb">
                <img src="https://graph.facebook.com/v2.3/1324855987/picture"
                     class="article-author-thumb" alt="">
            </div>
            <div class="article-header-text">
                <a href="/users/{{user.id}}" class="article-author-name">{{user.userId}}</a>
                <a href="#answer-1434" class="article-header-time" title="퍼머링크">
                    {{formattedCreateDate}}
                </a>
            </div>
        </div>
        <div class="article-doc comment-doc">
            <p>{{contents}}</p>
        </div>
        <div class="article-util">
            <ul class="article-util-list">
                <li>
                    <a class="link-modify-article" href="/api/questions/{{question.id}}/answers/{{id}}">수정</a>
                </li>
                <li>
                    <a class="link-delete-article" href="/api/questions/{{question.id}}/answers/{{id}}">삭제</a>
                </li>
            </ul>
        </div>
    </article>
    {{/aliveAnswers}}
</div>