<p class="question-comment-count"><strong>{{answerCnt}}</strong>개의 의견</p>
<div class="question-comment-slipp-articles">

    {{#answers}}
    <article class="article" id="answer-1405">
        <div class="article-header">
            <div class="article-header-thumb">
                <img src="https://graph.facebook.com/v2.3/1324855987/picture"
                     class="article-author-thumb" alt="">
            </div>
            <div class="article-header-text">
                <a href="/users/{{user.id}}" class="article-author-name">{{user.userId}}</a>
                <a href="#answer-1434" class="article-header-time" title="퍼머링크">
                    2016-01-12 14:06
                </a>
            </div>
        </div>
        <div class="article-doc comment-doc">
            <p>{{contents}}</p>
        </div>
        <div class="article-util">
            <ul class="article-util-list">
                <li>
                    <a class="link-modify-article"
                       href="/questions/413/answers/1405/form">수정</a>
                </li>
                <li>
                    <form class="delete-answer-form" action="/questions/{{question.id}}/answers/{{id}}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="delete-answer-button">삭제</button>
                    </form>
                </li>
            </ul>
        </div>
    </article>
    {{/answers}}