{{> header}}

<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default content-main">
            {{#user}}
            <form action="/users/{{id}}/updateForm" method="post" name="question">
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input class="form-control" id="password" name="password" placeholder="현재 비밀번호"
                           type="password">
                </div>
                <button class="btn btn-success clearfix pull-right" type="submit">비밀번호 체크</button>
                <div class="clearfix"/>
            </form>
            {{/user}}
        </div>
    </div>
</div>

{{> footer}}
