{{#partial "contents" }}
<div class="container" id="main">
   <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default content-main">
          <form name="question" method="post" action="{{actionPath}}">
              <div class="form-group">
                  <label for="userId">사용자 아이디</label>
                  <input class="form-control" id="userId" name="userId" placeholder="User ID" value="{{user.userId}}" {{readOnly}}>
              </div>
              <div class="form-group">
                  <label for="password">비밀번호</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="">
              </div>
              <div class="form-group">
                  <label for="name">이름</label>
                  <input class="form-control" id="name" name="name" placeholder="Name" value="{{user.name}}">
              </div>
              <div class="form-group">
                  <label for="email">이메일</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{user.email}}">
              </div>
              <input type="hidden" name="id" value="{{user.id}}" /> <!--hidden 값이 필요한 이유는? -->
              <button type="submit" class="btn btn-success clearfix pull-right">
                  {{buttonName}}
              </button>
              <input type="hidden" name="_method" value="{{methodType}}" />
              <div class="clearfix" />
          </form>
        </div>
    </div>
</div>
{{/partial}}
{{> tiles/base}}