<!DOCTYPE html>
<html lang="kr">
{{> partial/header}}
<body>
{{> partial/navigationBar}}
<div class="container" id="main">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>사용자 아이디</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#users}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td><a onclick="location.href='/users/{{id}}/profile'">{{userId}}</a></td>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                    <th><a href="/users/{{id}}/info_change" class="btn btn-success" role="button">수정</a></th>
                </tr>
                {{/users}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> partial/script_references}}
</body>
</html>
