{{> header}}

<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default content-main">
            <form action="/users/{{id}}/update" method="post" name="question">
                <!--                <input name="_method" type="hidden" value="PUT">-->
                <div class="form-group">
                    <label for="userId">사용자 아이디</label>
                    <input class="form-control" id="userId" name="userId" placeholder="User ID" value="{{user.userId}}">
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input class="form-control" id="password" name="password" placeholder="변경 후 비밀번호"
                           type="password">
                </div>
                <div class="form-group">
                    <label for="name">이름</label>
                    <input class="form-control" id="name" name="name" placeholder="Name" value="{{user.name}}">
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email"
                           value="{{user.email}}">
                </div>
                <button class="btn btn-success clearfix pull-right" type="submit">개인정보 수정</button>
                <div class="clearfix"/>
            </form>
        </div>
    </div>
</div>

{{> footer}}
