{{#partial "title"}}
<title>사용자 리스트</title>
{{/partial}}

{{#partial "main"}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">아이디</th>
        <th scope="col">별명</th>
        <th scope="col">이메일</th>
    </tr>
    </thead>
    <tbody>
    {{#users}}
    <tr>
        <th scope="row">{{id}}</th>
        <td><a href="/users/{{id}}">{{userId}}</a></td>
        <td>{{nickName}}</td>
        <td>{{email}}</td>
    </tr>
    {{/users}}
    </tbody>
</table>
{{/partial}}

{{> layout/base}}
