{{#partial "content"}}
    <div class="contents" style="">
      <div class="list">
        <div class="title">
          <h2>LIST</h2>
        </div>
        <table width="100%">
          <caption>Q&amp;A</caption>
          <colgroup>
            <col width="70px">
            <col width="135px">
            <col width="auto">
            <col width="150px">
            <col width="100px">
          </colgroup>
          <thead>
            <tr>
              <th>ID</th>
              <th>USERID</th>
              <th>NAME</th>
              <th>EMAIL</th>
              <th>MANAGE</th>
            </tr>
          </thead>
          {{#users}}
          <tbody>
            <tr>
              <td>{{id}}</td>
              <td>{{userId}}</td>
              <td class="left"><a href="/users/{{id}}">{{name}}</a></td>
              <td>{{email}}</td>
              <td><a href="#" class="btn btn-success" role="button">수정</a></td>
            </tr>
          </tbody>
          {{/users}}
        </table>
      </div>
    </div>
{{/partial}}

{{> base}}
