{{#partial "title"}}
<title>회원가입</title>
{{/partial}}

{{#partial "main"}}
{{#user}}
<form action="/users/{{id}}" method="post">
    <input type="hidden" name="_method" value="put">

    <div class="form-group">
        <label for="nickName">별명</label>
        <input type="text" class="form-control" id="nickName" name="nickName" value="{{nickName}}">
    </div>
    <div class="form-group">
        <label for="introduction">자기소개</label>
        <textarea class="form-control" id="introduction" name="introduction" rows="3">{{introduction}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">수정</button>
</form>
{{/user}}
{{/partial}}

{{> layout/base}}
