{{#partial "content" }}
{{#userId}}
<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default content-main">
            <form action="/users/{{userId}}/update" method="post" name="question">
                <div class="form-group">
                    <label for="userId">사용자 아이디</label>
                    <input class="form-control" id="userId" name="userId" placeholder="{{userId}}" readonly>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input class="form-control" id="password" name="password" placeholder="Password" type="password">
                </div>
                <div class="form-group">
                    <label for="name">이름</label>
                    <input class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email">
                </div>
                <button class="btn btn-success clearfix pull-right" type="submit">수정하기</button>
                <div class="clearfix"/>
            </form>
        </div>
    </div>
</div>
{{/userId}}
{{/partial}}
{{> partial/base}}
