{{#partial "main"}}
<h2 class="mb-4">딩고의 질문</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">답변수</th>
        <th scope="col">제목</th>
        <th scope="col">작성날짜</th>
        <th scope="col">작성자</th>
    </tr>
    </thead>
    <tbody>
    {{#questions}}
    <tr>
        <th scope="row">{{numberOfAnswer}}</th>
        <td><a href="/questions/{{id}}">{{title}}</a></td>
        <td>{{createdTime}}</td>
        <td><a href="/users/{{writer.id}}">{{writer.accountId}}</a></td>
    </tr>
    {{/questions}}
    </tbody>
</table>
{{/partial}}

{{> layout/base}}
