<!DOCTYPE html>
<html lang="kr">
{{> partial/header}}
<body>
{{> partial/navbar}}

<div class="container" id="main">
   <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
      <div class="panel panel-default qna-list">
          <ul class="list">
<!--              질문 목록-->
          </ul>
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6 text-center">
                  <ul class="pagination center-block" style="display:inline-block;">
<!--                      pagination nav-->
                </ul>
              </div>
              <div class="col-md-3 qna-write">
                  <a href="/questions/form" class="btn btn-primary pull-right" role="button">질문하기</a>
              </div>
          </div>
        </div>
    </div>
</div>

<!-- script references -->
{{> partial/script}}
<script src="/js/pagination.js"></script>
</body>
</html>