{{>layout/header}}
<h1>Sigrid's QnA for CodeSquad</h1>
<h2>코드스쿼드 마스터즈 코스 생활에 대한 모든 질문을 받습니다.</h2>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-2">
      <a href="/posts/save" role="button" class="btn btn-primary">글 등록하러 가기</a>
    </div>
    <div class="col-md-2">
      <a href="/users/show" role="button" class="btn btn-primary">회원 정보 보러 가기</a>
    </div>
    <div class="col-md-2">
      <a href="/users/register" role="button" class="btn btn-primary">회원 등록하기</a>
    </div>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <ul class="active"><a href="">Posts</a></ul>
    {{^sessionUser}}
      <li><a href="/users/login" role="button">로그인</a></li>
      <li><a href="/users/register" role="button">회원가입</a></li>
    {{/sessionUser}}
    {{#sessionUser}}
      <li><a href="/logout" role="button">로그아웃</a></li>
      <li><a href="/users/update/{{Id}}" role="button">개인정보수정</a></li>
    {{/sessionUser}}
  </ul>
  <!-- 목록 출력 영역 -->
  <table class="table table-dark table-bordered">
    <thead class="thead-strong">
    <tr>
      <th>글 작성 번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>최종 수정일</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#posts}}
      <tr>
        <td>{{Id}}</td>
        <td><a href="/posts/update/{{Id}}">{{title}}</td>
        <td>{{author}}</td>
        <td>{{modifiedDate}}</td>
      </tr>
    {{/posts}}
    </tbody>
  </table>
</div>
{{>layout/footer}}