<!DOCTYPE html>
<html lang="kr">
{{> header}}
<body>
{{> navbar}}

<div class="container" id="main">
  <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
    <div class="panel panel-default qna-list">
      <ul class="list">
        {{#each questions}}
        <li>
          <div class="wrap">
            <div class="main">
              <strong class="subject">
                <a href="/questions/{{this.id}}">{{this.title}}</a>
              </strong>
              <div class="auth-info">
                <i class="icon-add-comment"></i>
                <span class="time">{{formattedUpdatedDateTime}}</span>
                <a class="author" href="./users/{{this.writer.id}}">{{this.writer.userName}}</a>
              </div>
              <div class="reply" title="댓글">
                <i class="icon-reply"></i>
                <span class="point">{{this.answerCountExceptDeleted}}</span>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
          <ul class="pagination center-block" style="display:inline-block;">
          </ul>
        </div>
        {{#loginUser}}
        <div class="col-md-3 qna-write">
          <a class="btn btn-primary pull-right" href="./questions/form" role="button">질문하기</a>
        </div>
        {{/loginUser}}
      </div>
    </div>
  </div>
</div>

{{> script-references}}
<script>
  const maxPage = Number.parseInt('{{maxPage}}');
  const pageParam = Number.parseInt(new URLSearchParams(window.location.search).get('page'));
  const currentPage = Number.isNaN(pageParam) ? 1 : pageParam;

  const firstLocatePage =
      currentPage + 2 > maxPage && currentPage > 5 ? maxPage - 4
          : currentPage - 2 > 0 ? currentPage - 2
          : 1;
  const lastLocatePage =
      currentPage < 3 && maxPage < 5 ? maxPage
          : currentPage < 3 && maxPage > 4 ? 5
          : currentPage + 2 < maxPage ? currentPage + 2
              : maxPage;

  if (currentPage > 3) {
    $('.pagination.center-block').prepend('<li><a href=\"?page=' + (firstLocatePage - 1) + '\">«</a></li>');
  }
  for (let i = firstLocatePage; i <= lastLocatePage; i++) {
    $('.pagination.center-block').append('<li id=\"page' + i + '"\><a href=\"?page=' + i + '\">' + i + '</a></li>');
  }
  if (lastLocatePage < maxPage) {
    $('.pagination.center-block').append('<li><a href=\"?page=' + (lastLocatePage + 1) + '\">»</a></li>');
  }
  $('#page' + currentPage).find($('a')).css('background-color', '#428bca').css('color', '#FFF');
</script>
</body>
</html>
