{{>layout/header}}
<h1>게시글 수정</h1>
<div class="col-md-12">
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="title">게시글 고유번호</label>
        <input type="text" class="form-control" id="Id" value="{{posts.Id}}" readonly>
      </div>
      <div class="form-group">
        <label for="title">게시글 제목</label>
        <input type="text" class="form-control" id="title" value="{{posts.title}}">
      </div>
      <div class="form-group">
        <label for="title">게시글 작성자</label>
        <input type="text" class="form-control" id="userId" value="{{author.userId}}" readonly>
      </div>
      <div class="form-group">
        <label for="title">게시글 내용</label>
        <input type="text" class="form-control" id="content" value="{{posts.content}}">
      </div>
    </form>
    <a href="/" role="button" class="btn btn-secondary">취소</a>
    <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
    <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
  </div>
</div>
{{>layout/footer}}