{{#partial "content"}}

<div class="container" id="main">
  {{#question}}
  <div class="col-md-12 col-sm-12 col-lg-12">
    <div class="panel panel-default">
      <header class="qna-header">
        <h2 class="qna-title">{{question.title}}</h2>
      </header>
      <div class="content-main">
        <article class="article">
          <div class="article-header">
            <div class="article-header-thumb">
              <img alt=""
                   class="article-author-thumb"
                   src="https://graph.facebook.com/v2.3/100000059371774/picture">
            </div>
            <div class="article-header-text">
              <a class="article-author-name"
                 href="/users/{{question.writer}}">{{question.writer}}</a>
              <a class="article-header-time" href="/questions/{{question.id}}" title="퍼머링크">{{question.createdTime}}
                <i class="icon-link"></i>
              </a>
            </div>
          </div>
          <div class="article-doc">
            <p>{{question.contents}}</p>
          </div>
          <div class="article-util">
            <ul class="article-util-list">
              <li>
                <a class="link-modify-article" href="/questions/{{question.id}}/form">수정</a>
              </li>
              <li>
                <form action="/questions/{{question.id}}" class="form-delete" method="POST">
                  <input name="_method" type="hidden" value="DELETE">
                  <button class="link-delete-article" type="submit">삭제</button>
                </form>
              </li>
              <li>
                <a class="link-modify-article" href="/">목록</a>
              </li>
            </ul>
          </div>
        </article>

        <div class="qna-comment">
          <div class="qna-comment-slipp">
            <p class="qna-comment-count"><strong>#</strong>개의 의견</p>
            <div class="qna-comment-slipp-articles">
              {{#answers}}
              <article class="article" id="answer-1405">
                <div class="article-header">
                  <div class="article-header-thumb">
                    <img alt=""
                         class="article-author-thumb"
                         src="https://graph.facebook.com/v2.3/1324855987/picture">
                  </div>
                  <div class="article-header-text">
                    <a class="article-author-name" href="/users/{{writer}}">{{writer}}</a>
                    <a class="article-header-time" href="/questions/{{question.id}}" title="퍼머링크">
                      {{createdTime}}
                    </a>
                  </div>
                </div>
                <div class="article-doc comment-doc">
                  <p>{{contents}}</p>
                </div>
                <div class="article-util">
                  <ul class="article-util-list">
                    <li>
                      <a class="link-modify-article"
                         href="/api/questions/{{question.id}}/answers/{{id}}">수정</a>
                    </li>
                    <li>
                      <a class="link-delete-article"
                         href="/api/questions/{{question.id}}/answers/{{id}}">삭제</a>
                    </li>
                  </ul>
                </div>
              </article>
              {{/answers}}
              <form action="/api/questions/{{question.id}}/answers" class="answer-write"
                    method="POST">
                <div class="form-group" style="padding:14px;">
                  <textarea class="form-control" id="contents" name="contents"
                            placeholder="Update your status"></textarea>
                </div>
                <button class="btn btn-success pull-right" type="submit">답변하기</button>
                <div class="clearfix"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/question}}
</div>

<script id="answerTemplate" type="text/template">

  <article class="article">
    <div class="article-header">
      <div class="article-header-thumb">
        <img alt=""
             class="article-author-thumb"
             src="https://graph.facebook.com/v2.3/1324855987/picture">
      </div>
      <div class="article-header-text">
        <a class="article-author-name" href="/users/{0}">{0}</a>
        <a class="article-header-time" href="/questions/{3}" title="퍼머링크">
          {1}
        </a>
      </div>
    </div>
    <div class="article-doc comment-doc">
      <p>{2}</p>
    </div>
    <div class="article-util">
      <ul class="article-util-list">
        <li>
          <a class="link-modify-article" href="/api/questions/{3}/answers/{3}">수정</a>
        </li>
        <li>
          <a class="link-delete-article" href="/api/questions/{3}/answers/{4}">삭제</a>
        </li>
      </ul>
    </div>
  </article>

</script>
{{/partial}}

{{> base}}
