{{> header}}

<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            <header class="qna-header">
                <h2 class="qna-title">{{question.title}}</h2>
            </header>
            <div class="content-main">
                <article class="article">
                    <div class="article-header">
                        <div class="article-header-thumb">
                            <img alt=""
                                 class="article-author-thumb"
                                 src="https://graph.facebook.com/v2.3/100000059371774/picture">
                        </div>
                        <div class="article-header-text">
                            <a class="article-author-name" href="/users/{{question.id}}">{{question.writer.name}}</a>
                            <a class="article-header-time" href="/questions/413" title="퍼머링크">
                                {{question.formattedCreatedTime}}
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="article-doc">
                        <p>{{question.contents}}</p>
                    </div>
                    <div class="article-util">
                        <ul class="article-util-list">

                            {{#hasPermissionUser}}
                            <li>
                                <a class="link-modify-article" href="/questions/{{question.id}}/updateForm">수정</a>
                            </li>
                            <li>
                                <form action="/questions/{{question.id}}" class="form-delete" method="POST">
                                    <input name="_method" type="hidden" value="DELETE">
                                    <button class="link-delete-article" type="submit">삭제</button>
                                </form>
                            </li>
                            {{/hasPermissionUser}}

                            <li>
                                <a class="link-modify-article" href="/templates/main.html">목록</a>
                            </li>
                        </ul>
                    </div>
                </article>

                <div class="qna-comment">
                    <div class="qna-comment-slipp">
                        <p class="qna-comment-count"><strong>{{question.replyCount}}</strong>개의 의견</p>
                        <div class="qna-comment-slipp-articles">

                            {{#answers}}
                            <article class="article" id="answer-1405">
                                <div class="article-header">
                                    <div class="article-header-thumb">
                                        <img alt=""
                                             class="article-author-thumb"
                                             src="https://graph.facebook.com/v2.3/1324855987/picture">
                                    </div>
                                    <div class="article-header-text">
                                        <a class="article-author-name"
                                           href="/users/{{question.id}}/{{writer.name}}">{{writer.name}}</a>
                                        <a class="article-header-time" href="#answer-1434" title="퍼머링크">
                                            {{formattedCreatedDateTime}}
                                        </a>
                                    </div>
                                </div>
                                <div class="article-doc comment-doc">
                                    <p>{{contents}}</p>
                                </div>
                                <div class="article-util">
                                    <ul class="article-util-list">
                                        <li>
                                            <a class="link-modify-article"
                                               href="/questions/{{question.id}}/answers/{{id}}/form">수정</a>
                                        </li>
                                        <li>
                                            <form action="/questions/{{question.id}}/answers/{{id}}"
                                                  class="delete-answer-form"
                                                  method="POST">
                                                <input name="_method" type="hidden" value="DELETE">
                                                <button class="delete-answer-button" type="submit">삭제</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            {{/answers}}

                            <form action="/questions/{{question.id}}/answers" class="submit-write" method="POST">
                                <div class="form-group" style="padding:14px;">
                                    <textarea class="form-control" id="contents" name="contents"
                                              placeholder="Update your status"></textarea>
                                </div>
                                <input class="btn btn-success pull-right" type="submit" value="답변하기"/>
                                <div class="clearfix"/>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="answerTemplate" type="text/template">
    <article class="article">
        <div class="article-header">
            <div class="article-header-thumb">
                <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
            </div>
            <div class="article-header-text">
                <a href="#" class="article-author-name">{0}</a>
                <div class="article-header-time">{1}</div>
            </div>
        </div>
        <div class="article-doc comment-doc">
            {2}
        </div>
        <div class="article-util">
            <ul class="article-util-list">
                <li>
                    <a class="link-modify-article" href="/api/qna/updateAnswer/{3}">수정</a>
                </li>
                <li>
                    <form class="delete-answer-form" action="/api/questions/{3}/answers/{4}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="delete-answer-button">삭제</button>
                    </form>
                </li>
            </ul>
        </div>
    </article>
</script>

{{> footer}}
