{{#partial "content"}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default content-main">
            {{#answer}}
            <form name="question" method="post" action="/questions/{{question.id}}/answers/{{id}}">
                <input type="hidden" name="_method" value="put"/>
                <div class="form-group">
                    <label for="contents">내용</label>
                    <textarea name="contents" id="contents" rows="5" class="form-control">{{contents}}</textarea>
                </div>
                <button type="submit" class="btn btn-success clearfix pull-right">답변 수정하기</button>
                <div class="clearfix" />
                {{/answer}}
            </form>
        </div>
    </div>
</div>
{{/partial}}

{{> frame/base}}