<!DOCTYPE html>
<html lang="kr">
{{> header}}
<body>
{{> navbar}}

<div class="container" id="main">
  <div class="col-md-12 col-sm-12 col-lg-12">
    <form action="/questions/{{question.id}}/answers/{{answer.id}}" class="submit-write" method="POST">
      <input name="_method" type="hidden" value="PUT"/>
      <div class="form-group" style="padding:14px;">
        <textarea class="form-control" id="comments" name="comments" placeholder="Update your status">{{answer.comment}}</textarea>
      </div>
      <button class="btn btn-success pull-right" type="submit">수정하기</button>
      <div class="clearfix"/>
    </form>
  </div>
</div>

{{> script-references}}
</body>
</html>
