{{#partial "title"}}
<title>질문하기</title>
{{/partial}}

{{#partial "main"}}
<form action="/questions" method="post">
    <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group">
        <label for="contents">내용</label>
        <textarea class="form-control" id="contents" name="contents" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">질문하기</button>
</form>
{{/partial}}

{{> layout/base}}
