{{#partial "main"}}
<title>질문 보기</title>
{{/partial}}

{{#partial "main"}}
{{#question}}

<div class="p-4 border">
    {{#question}}
    <div>
        <h2 class="mb-0 pb-3" style="border-bottom: 1px dashed rgb(222, 226, 230)">{{title}}</h2>
        <div class="media border-bottom align-items-center py-2">
            <img alt="프로필 사진" class="mr-3" src="/profile.jpeg" style="border-radius: 100%; max-width: 50px;">
            <div class="media-body">
                <h5><a href="/users/{{writer.id}}">{{writer.accountId}}</a></h5>
                <p class="text-secondary mb-0" style="font-size: 0.75rem;">{{createdTime}}</p>
            </div>
        </div>
    </div>

    <div class="border-bottom">
        <div class="m-3" style="min-height: 100px;">
            {{content}}
        </div>

        {{#eq authenticationId writer.id}}
        <div class="m-3">
            <a class="btn btn-outline-primary btn-sm" href="/questions/{{question.id}}/updateForm" role="button">수정</a>
            <form action="/questions/{{id}}" class="d-inline" method="post">
                <input name="_method" type="hidden" value="delete">
                <button class="btn btn-outline-primary btn-sm" type="submit">삭제</button>
            </form>
        </div>
        {{/eq}}
    </div>

    <div class="ml-3 mr-3 mb-3">
        {{#answers}}
        <div class="media border-bottom align-items-center py-2">
            <img alt="프로필 사진" class="mr-3" src="/profile.jpeg" style="border-radius: 100%; max-width: 50px;">
            <div class="media-body">
                <h5><a class="d-inline-block" href="/users/{{writer.id}}">{{writer.accountId}}</a></h5>
                <p class="mb-0">{{content}}</p>
                <p class="text-secondary mb-0" style="font-size: 0.75rem;">{{createdTime}}</p>
            </div>
        </div>
        {{/answers}}

        <form action="/questions/{{id}}/answers" class="mt-3" method="post">
            <div class="form-group">
                <textarea class="form-control" id="content" name="content" rows="3"></textarea>
            </div>
            <button class="btn btn-outline-primary" type="submit">답글</button>
        </form>
    </div>
    {{/question}}
</div>

{{/question}}
{{/partial}}

{{> layout/base}}
