{{#partial "content"}}
    <div class="contents">
      <div class="qna">
        <div class="title">
          <h2>Q&amp;A</h2>
        </div>
        <table width="100%">
          <caption>Q&amp;A</caption>
          <colgroup>
            <col width="70px">
            <col width="auto">
            <col width="100px">
            <col width="150px">
          </colgroup>
          <thead>
            <tr>
              <th>NO</th>
              <th>SUBJECT</th>
              <th>WRITER</th>
              <th>DATE</th>
            </tr>
          </thead>
          {{#questions}}
          <tbody>
            <tr>
              <td>{{id}}</td>
              <td class="left"><a href="/questions/{{id}}">{{title}}</a></td>
                <td><a href="./users/{{writer.id}}">{{writer.userId}}</a></td>
              <td>{{formattedCreatedTime}}</td>
            </tr>
          </tbody>
          {{/questions}}
        </table>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="text-center">
                <ul class="pagination center-block" style="display:inline-block;">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
            <div class="btn_sbmWrap">
                <a class="btn_submit normal" href="/questions/form" role="button">질문하기</a>
            </div>
        </div>
      </div>
    </div>
{{/partial}}

{{> base}}
