<!DOCTYPE html>
<html lang="kr">
{{> header}}
<body>
{{> navbar}}

<div class="container" id="main">
  <div class="col-md-12 col-sm-12 col-lg-12">
    <div class="panel panel-default">
      <header class="qna-header">
        <h2 class="qna-title">{{question.title}}</h2>
      </header>
      <div class="content-main">
        <article class="article">
          <div class="article-header">
            <div class="article-header-thumb">
              <img alt="" class="article-author-thumb" src="{{question.writer.userProfileImage}}">
            </div>
            <div class="article-header-text">
              <a class="article-author-name" href="/users/{{question.writer.id}}">{{question.writer.userName}}</a>
              <a class="article-header-time" href="/questions/{{question.id}}" title="퍼머링크">
                {{question.formattedUpdatedDateTime}}
                <i class="icon-link"></i>
              </a>
            </div>
          </div>
          <div class="article-doc">
            {{question.contents}}
          </div>
          <div class="article-util">
            <ul class="article-util-list">
              {{#if isLoginUserEqualsWriter}}
              <li>
                <a class="link-modify-article" href="/questions/{{question.id}}/form">수정</a>
              </li>
              <li>
                <form action="/questions/{{question.id}}" class="form-delete" method="POST">
                  <input name="_method" type="hidden" value="DELETE">
                  <button class="link-delete-article" type="submit">삭제</button>
                </form>
              </li>
              {{/if}}
              <li>
                <a class="link-modify-article" href="/">목록</a>
              </li>
            </ul>
          </div>
        </article>

        <div class="qna-comment">
          <div class="qna-comment-slipp">
            <p class="qna-comment-count"><strong id="answer-count">{{question.answerCountExceptDeleted}}</strong>개의 의견</p>
            <div class="qna-comment-slipp-articles">
              {{#each answers}}
              <article class="article" id="answer-{{this.id}}">
                <div class="article-header">
                  <div class="article-header-thumb">
                    <img alt="" class="article-author-thumb" src="{{this.writer.userProfileImage}}">
                  </div>
                  <div class="article-header-text">
                    <a class="article-author-name" href="/users/{{this.writer.id}}">{{this.writer.userName}}</a>
                    <a class="article-header-time" href="#answer-{{this.id}}" title="퍼머링크">
                      {{this.formattedUpdatedDateTime}}
                    </a>
                  </div>
                </div>
                <div class="article-doc comment-doc">
                  <p>{{this.comment}}</p>
                </div>
                <div class="article-util">
                  <ul class="article-util-list">
                    <li>
                      <a class="link-modify-article" href="/questions/{{question.id}}/answers/{{this.id}}/form">수정</a>
                    </li>
                    <li>
                      <form action="/api/questions/{{question.id}}/answers/{{this.id}}" class="delete-answer-form" method="POST">
                        <input name="_method" type="hidden" value="DELETE">
                        <button class="delete-answer-button" type="submit">삭제</button>
                      </form>
                    </li>
                  </ul>
                </div>
              </article>
              {{/each}}
            </div>
            {{#loginUser}}
            <form action="/api/questions/{{question.id}}/answers" class="submit-write" method="POST">
              <div class="form-group" style="padding:14px;">
                <textarea class="form-control" id="comment" name="comment" placeholder="Update your status"></textarea>
              </div>
              <button class="btn btn-success pull-right" type="submit">답변하기</button>
              <div class="clearfix"/>
            </form>
            {{/loginUser}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script id="answerTemplate" type="text/template">
  <article class="article" id="answer-{0}">
    <div class="article-header">
      <div class="article-header-thumb">
        <img alt="" class="article-author-thumb" src="{5}">
      </div>
      <div class="article-header-text">
        <a class="article-author-name" href="/users/{3}">{4}</a>
        <a class="article-header-time" href="#answer-{0}" title="퍼머링크">{2}</a>
      </div>
    </div>
    <div class="article-doc comment-doc">
      <p>{1}</p>
    </div>
    <div class="article-util">
      <ul class="article-util-list">
        <li>
          <a class="link-modify-article" href="/api/qna/updateAnswer/{0}">수정</a>
        </li>
        <li>
          <form class="delete-answer-form" action="/api/questions/{6}/answers/{0}" method="POST">
            <input name="_method" type="hidden" value="DELETE">
            <button class="delete-answer-button" type="submit">삭제</button>
          </form>
        </li>
      </ul>
    </div>
  </article>
</script>

{{> script-references}}
<script src="/js/questionScript.js"></script>
</body>
</html>
